:root {
    /* Make the logo bigger and closer to the title. */
    --sl-nav-pad-y: 0.4rem;
    --sl-nav-gap: 0.75rem;
}

:root[data-theme="light"] {
    /* Match the logo. */
    --sl-color-text-accent: hsl(214 100% 55% / 1);
}

.site-title {
    /* Monospace, less colorful title. */
    font-size: var(--sl-text-2xl);
    font-family: var(--__sl-font-mono);
    color: var(--sl-color-white);
}
